@font-face {
    font-family: 'Fraunces Bold';
    src: url('fonts/fraunces/Fraunces72pt-Bold.woff2') format('woff2'),
        url('fonts/fraunces/Fraunces72pt-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fraunces Regular';
    src: url('fonts/fraunces/Fraunces72pt-Regular.woff2') format('woff2'),
        url('fonts/fraunces/Fraunces72pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fraunces Light';
    src: url('fonts/fraunces/Fraunces72pt-Light.woff2') format('woff2'),
        url('fonts/fraunces/Fraunces72pt-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fraunces Thin';
    src: url('fonts/fraunces/Fraunces72pt-Thin.woff2') format('woff2'),
        url('fonts/fraunces/Fraunces72pt-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}