///
/// Header
/// 
header.header {
    width: 100%;
    transition: all 0.4s ease;
    width: 100%;
    z-index: 2;
	background: $white;

    .header--site__wide__notice {
        padding: 12px 0;
        background: var(--fl1-secondary);
        font-size: 15px;
        font-weight: 500;
        color: #000;
        line-height: 21px;
        text-align: center;
        a {
            font-weight: 600;
        }
        .max__width {
            display: flex;
            justify-content: center;
        }
    }

    // Nav
    @import "./mega-menu";

    .header__main {
        position: relative;
		margin: var(--fl1-spacing-md) 0 var(--fl1-spacing-lg);

        @include breakpoint(560px) {
			margin: var(--fl1-spacing-md) 0;
		}

        .max__width {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
        }

        &--left {
            display: flex;
            align-items: center;

            .logo {
                width: 260px;
                transition: all 0.4s ease;

				@include breakpoint(brotherbear) {
					width: 200px;
				}
				
                a {
                    display: block;
                    svg {
                        width: 100%;
                        .coloured { 
                            fill: var(--fl1-primary);       
                        }
                    }
                }
            }
        }

        &--right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @include breakpoint(papabear) {
                flex-direction: row; align-items: center;
            }

            nav.top-nav { 
                display: flex;
                justify-content: flex-end;
                align-items: center;

				@include breakpoint(papabear) {
					padding-bottom: 0;
				}

                @include breakpoint(560px) {
                    display: none;
                }

                ul { 
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    
                    li { 
                        margin-left: 12px;

						a:not(.button) {
							font-size: 12px;
							color: var(--fl1-white);
							font-weight: 600;
							display: flex;
							gap: var(--fl1-spacing-xs);
							align-items: center;
							position: relative;
							transition: all 0.1s ease;
							text-transform: uppercase;

							i { 
								@include breakpoint(grandmabear) {
									font-size: var(--fl1-font-xs);
									padding: var(--fl1-spacing-xs);
								}
							}

							span { 
								@include breakpoint(grandmabear) {
									display: none;
								}
							}
						}
                    }
                }
            }
        }

        .burger__menu {
            display: none;
			margin-right: var(--fl1-spacing-md);

            @include breakpoint(papabear) {
                display: block;
            }

			@include breakpoint(560px) {
				margin-right: 0;
			}

            i {
                font-size: 30px;
                color: $baseFontColor;
            }
        }
    }

    &.sticky,
    &.not-sticky {
        transition: all 0.3s ease;
        .logo {
            width: 185px;
            transition: all 0.3s ease;
        }
    }

    &.sticky {
        top: 0;
        background: rgba(var(--fl1-secondary), 0.9);
    }

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        &.sticky {
            background: rgba(var(--fl1-secondary), 0.5);
            backdrop-filter: blur(20px);
        }
    }

    &.not-sticky {
        top: -150px;
    }

    &.reset {
        .logo {
            width: 185px;
            transition: all 0.3s ease;
            @include breakpoint(papabear) {
                width: 70px;
            }
        }
    }
}
